  <ion-toolbar >
    <div style="display: flex; justify-content: space-around; width: 100%;">
      <ion-button routerLink="/home" fill="clear" style="flex-direction: column; align-items: center; justify-content: center; --padding-start: 0;">
        <ion-icon name="home-outline" style="font-size: 28px; margin-bottom: 4px;"></ion-icon>
        <ion-label style="font-size: 12px; text-align: center;">Inicio</ion-label>
      </ion-button>

      <ion-button routerLink="/menu" fill="clear" style="flex-direction: column; align-items: center; justify-content: center; --padding-start: 0;">
        <ion-icon name="restaurant-outline" style="font-size: 28px; margin-bottom: 4px;"></ion-icon>
        <ion-label style="font-size: 12px; text-align: center;">Menú</ion-label>
      </ion-button>

      <ion-button routerLink="/perfil" fill="clear" style="flex-direction: column; align-items: center; justify-content: center; --padding-start: 0;">
        <ion-icon name="person-outline" style="font-size: 28px; margin-bottom: 4px;"></ion-icon>
        <ion-label style="font-size: 12px; text-align: center;">Perfil</ion-label>
      </ion-button>
    </div>
  </ion-toolbar>