<ion-header translucent="true">
  <ion-toolbar class="gourmet-header">
    <ion-title class="gourmet-title">
      SaborGourmet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">

  <ion-card>
  <ion-card-header>
    <ion-card-title>Perfil</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-left">
    <p>Nombre: {{nombre}}</p>
    <p>Apellido: {{apellido}}</p>
    <p>Fecha de Nacimiento: {{fechaNacimiento | date:'dd/MM/yyyy'}}</p>
    <p>Género: {{genero}}</p>
    <p>Teléfono: {{telefono}}</p>
    <p>Email: {{email}}</p>
    <p>Dirección: {{direccion}}</p>
  </ion-card-content>

</ion-card>
    <div>
    <h1 class="ion-text-center">Completa tu perfil</h1>
  </div>

<ion-card>
  <ion-card-content>


  <div class="ion-margin-bottom">

    <ion-item >
      <ion-input id="inputNombre"
        label="Nombre"
        placeholder="Ingrese Nombre"
        [(ngModel)]="nombre">
      </ion-input>
    </ion-item>

    <ion-item >
      <ion-input id="inputApellido"
        label="Apellido"
        placeholder="Ingrese Apellido"
        [(ngModel)]="apellido">
      </ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Género</ion-label>
      <ion-select placeholder="Seleccione un género" [(ngModel)]="genero">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-input id="telefono"
        label="Teléfono"
        placeholder="Ingrese Teléfono"
        [(ngModel)]="telefono">
      </ion-input>
    </ion-item>

    <ion-item >
      <ion-input id="email"
        label="Email"
        type="email"
        placeholder="Ingrese Email"
        [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <ion-item >
      <ion-input id="direccion"
        label="Dirección"
        placeholder="Ingrese Dirección"
        [(ngModel)]="direccion">
      </ion-input>
    </ion-item>

    <!-- Fecha de nacimiento con angular material-->
     <mat-form-field>
      <mat-label>dd/mm/yyyy</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" placeholder="Fecha de Nacimiento">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

     </mat-form-field>


  </div>



  </ion-card-content>
</ion-card>



</ion-content>

<ion-footer>
  <ion-toolbar >
    <div style="display: flex; justify-content: space-around; width: 100%;">
      <ion-button routerLink="/home" fill="clear" style="flex-direction: column; align-items: center; justify-content: center; --padding-start: 0;">
        <ion-icon name="home-outline" style="font-size: 28px; margin-bottom: 4px;"></ion-icon>
        <ion-label style="font-size: 12px; text-align: center;">Inicio</ion-label>
      </ion-button>

      <ion-button routerLink="/menu" fill="clear" style="flex-direction: column; align-items: center; justify-content: center; --padding-start: 0;">
        <ion-icon name="restaurant-outline" style="font-size: 28px; margin-bottom: 4px;"></ion-icon>
        <ion-label style="font-size: 12px; text-align: center;">Menú</ion-label>
      </ion-button>

      <ion-button routerLink="/perfil" fill="clear" style="flex-direction: column; align-items: center; justify-content: center; --padding-start: 0;">
        <ion-icon name="person-outline" style="font-size: 28px; margin-bottom: 4px;"></ion-icon>
        <ion-label style="font-size: 12px; text-align: center;">Perfil</ion-label>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
